<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="appService" class="com.pphyo.lifecycle.beans.AppService" init-method="initInService"></bean>
    
    <bean id="initializingBean" class="com.pphyo.lifecycle.initialize.InitializingBeanImpl"></bean>
 
	<bean id="beanPostProcessor" class="com.pphyo.lifecycle.processor.AppBeanPostProcessor"></bean>
</beans>