<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definition -->
	<bean id="dataBean"></bean>
	
	<!-- bean definition -->
    <bean id="empService" class="com.pphyo.spring.EmployeeService">
    	<constructor-arg ref=""></constructor-arg>
    </bean>
    
    <!-- bean definition -->
    <bean id="msgService" class="com.pphyo.spring.MessageService"></bean>

</beans>