<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="egarBean" class="com.pphyo.scope.beans.EgarSingletonBean"></bean>
	<bean id="lazyBean" class="com.pphyo.scope.beans.LazySingletonBean" lazy-init="true"></bean>
	
	<bean id="pBean" class="com.pphyo.scope.beans.PrototypeBean" scope="prototype"></bean>

</beans>